.root {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  padding-right: 10px;
  padding-left: 10px;
  flex: 1 1 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
}

.input {
  border-radius: 40px;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input:focus,
.input:hover {
  background-color: #f5f5f5;
}

.sendButton {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  outline: none;
  font-weight: 700;
}